# Copy this as config.yml and supply the DB password

# Server configurations
server:
  host: "localhost"
  port: "8090"

# Database credentials
database:
  user: "dm_tool"
  pass: "PASSWORD"
  db: "dm_campaign_manager"
  driver: "mysql"
